<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificado</title>
    <style>
        body {
            background-image: url(https://i.imgur.com/RUU2s6H.png);
            background-color: #ff0f0f; 
            text-align: center;
            background-size: cover;
            font-size: 35px;
            font-family: Arial, sans-serif;
            
        }

        .texto {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 900px;
            text-align: justify;
            
        }

    </style>
</head>
<body>
    <p class="texto">Certificamos que <%= user.name %> <%= user.surname %> - <%= user.cpf %> participou do evento “<%= event.title %>”, em <%= event.date.toLocaleDateString() %>, com carga horária de <%= event.workload %> horas</p>
</body>
</html>